@CHARSET "UTF-8";

html{
	height: 100%;
	overflow: hidden;
	overflow-x: hidden;
}

body{
	height: 100%;
}

#content{
	opacity:0;
	transition: opacity 500ms ease-in-out;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
}

#main{
	width: 100%;
	height: 100%;
	position: absolute;
	transition: -webkit-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-o-transition: -o-transform 200ms ease-in-out;
	-ms-transition: -ms-transform 200ms ease-in-out;
	transform: translate(-100%, 0px);
	-webkit-transform: translate(-100%, 0px);
	-moz-transform: translate(-100%, 0px);
	-o-transform: translate(-100%, 0px);
	-ms-transform: translate(-100%, 0px);
	cursor: move;
}

#loading{
	transition: -webkit-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-o-transition: -o-transform 200ms ease-in-out;
	-ms-transition: -ms-transform 200ms ease-in-out;
	position: absolute;
	width: 20%;
	left: 40%;
	top: 50%;
}

#loading .bar{
	transition: width 200ms ease-in-out;
	-webkit-transition: width 200ms ease-in-out;
	-moz-transition: width 200ms ease-in-out;
	-o-transition: width 200ms ease-in-out;
	-ms-transition: width 200ms ease-in-out;
}

section{
	height: 100%;
	position: absolute;
	width: 100%;
}

.content{
	transition: -webkit-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-o-transition: -o-transform 200ms ease-in-out;
	-ms-transition: -ms-transform 200ms ease-in-out;
}

.radius-border{
	background-color: white;
	border: 1px solid #DDD;
	border-width: 1px;
	margin-right: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}

#overview-tip{
	margin: -10px 0 10px -5px;
}

#map-canvas{
	height: 97%;
	padding: 5px;
}

.infowindow-div{
	margin-top: 6px;
	cursor: pointer;
}

.infowindow-div:HOVER{
	background-color: #eee;
}

#left-bar{
	height: 97%;
	padding: 5px;
	margin-right: 0;
}

#left-bar h4,#left-bar span{
	margin-left: 5px;
}

#overview-side-info-menus span{
	font-size: 10pt;
	color: rgb(66,66,66);
}

#overview-side-info-head{
	border: 1px solid #DDD;
	border-width: 0 0 1px 0;
	cursor: pointer;
}

#overview-side-info-head:HOVER{
	background-color: rgba(100,100,100,0.15);
}

#overview-side-info-menus{
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hiddeon;
}

.msb-item{
	border: 1px solid rgba(238, 238, 238, 0.38);
	border-width: 0 0 1px 0;
	margin-top: 5px;
}

.msb-avatar{
	width: 100%;
}

.small-avatar{
	max-height: 40px;
	max-width: 40px;
}

#main-info-container{
	margin: 10px 0px 10px 0px;
}

#main-info-view-left{
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	border-right: solid 1px #AAA;
}

#main-info-view-left ul{
	padding: 10px;
	margin: 10px;
}

.order-item{
	color: #555;
	padding: 10px 10px 50px 10px;
}

.order-item table{
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}

.order-item table th{
	font-weight: normal;
	font-size: 11pt;
}

.order-item-head{
	
}

.order-item-head span{
	margin-right: 33%;
}

.concacts-container{
	border-bottom: 1px solid #DDD;
}

.concact-item span{
	margin-right: 10px;
}

.menu{
	display:table-cell; 
	width: 100%;
	height:170px; 
	text-align:center; 
	vertical-align:middle;
}

.view-order-item span{
	margin-right: 20px;
}

.menu-img-container{
	width: 80%;
	height: 80%;
}

.menu-img{
	vertical-align:middle;
	width:170px;
}

#shoppingCart-container{
	background-color: white;
	position: fixed;
	top: 50px;
	transition: -webkit-transform 200ms ease-in-out;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-o-transition: -o-transform 200ms ease-in-out;
	-ms-transition: -ms-transform 200ms ease-in-out;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
}

#shoppingCart-container ul{
	margin: 10px;
}

#shoppingCart-container ul li button{
	float: right;
	display: none;
	margin: -1px -2px 0 7px;
}

#shoppingCart-container ul li a{
	font-weight: bold;
}

.shopping-cart-menus{
	margin: 5px 0px 5px 5px;
	color: gray;
	font-size: 10pt;
}

#shoppingCart-container::after{
	position: fixed;
	top: -10px;
	right: 90px;
	display: inline-block;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #444;
	border-left: 10px solid transparent;
	content: '';
}

#shoppingCart-head{
	color: white;
	padding-left: 10px;
	height: 2.5em;
	line-height: 2.5em;
	overflow: hidden;
	background-color: #444;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px;
	border: 1px solid #444;
	margin: -1px;
}

#shoppingCart-container-empty-tip{
	padding: 10px 0 0 10px;
}

#shopping-cart{
	position: relative;
	max-height: 100%;
}

.shopping-cart-menu{
	width: 100%;
	margin-left: 9px;
	background-color: white;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border: 1px solid #DDD;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.shopping-cart-menu-name{
}

.shopping-cart-menu-num{
}

.shopping-cart-menu-price{
}

.shopping-cart-menu-option{
	cursor:pointer;
}

.shopping-cart-menu-option strong{
	margin-right: 10px;
}

#shopping-cart-settle{
	float: right;
	display: none;
	margin: 0 10px 10px 0;
}

#shopping-cart-ride{
	float: right;
	display: none;
	margin: 0 10px 10px 0;
}

.menu-close-btn{
	position: relative;
	float: right;
}

#order-message{
	width: 99%;
}

#rest-detail{
	border-bottom: 1px solid #DDD;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

#rest-menutype-setting tr{
	border-bottom: 1px solid #DDD;
}

#rest-menutype-setting input{
	margin-top: 5px;
}

#rest-menus-head{
	font-weight: bold;
	font-size: 12pt;
	border-bottom: solid thin #EEE;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#menus-filter{
	margin-bottom: 10px;
}

.menus-filter-item{
	border-bottom: solid thin #EEE;
	font-size: 10pt;
	color: gray;
	font-weight: bold;
}

.menus-filter-item td{
	padding: 5px 0 5px 0;
}

.menus-filter-item a{
	margin-right: 10px;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
}

.menus-filter-item a:HOVER{
	background: gray;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}

.menus-filter-item .select{
	background: #FFB27F;
	border-radius: 3px;
	text-decoration: none;
	color: white;
}

.view-order-item{
	color: #555;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: 1px solid #DDD;
	border-width: 0 1px 1px 1px;
}

.view-order-item:first-child{
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-width: 1px 1px 1px 1px;
}

.view-order-item:last-child{
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-width: 0px 1px 1px 1px;
}

.view-order-item p{
	color: #555;
	padding: 10px 10px 10px 10px;
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

.order-detail-info-table{
	color: #555;
	padding: 10px 10px 10px 10px;
	background-color: #F1F1F1;
	border: 1px solid #DDD;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}

.order-cancel-btn,.order-option-btn{
	margin: 0px 10px 0px 10px;
	float: right;
}

#user-leftbar{
	padding-top: 10px;
	padding-bottom: 10px;
}

#boss-order-item-container{
	padding: 0 5px 0 5px;
}

.thumbnails .select{
	border: 1px solid #88f;
}

.add-on{
	display: inline-block;
	width: auto;
	height: 18px;
	min-width: 16px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	background-color: #EEE;
	border: 1px solid #CCC;
	margin-top: -9px;
	margin-left: -28px;
}

.message-item td{
	text-align: center;
	color: gray;
}

#contextMenu {
position: absolute;
min-width: 100px;
z-index: 1000;
background: #fff;
border-top: solid 1px #CCC;
border-left: solid 1px #CCC;
border-bottom: solid 1px #676767;
border-right: solid 1px #676767;
padding: 0px;
margin: 0px;
display:none;
}

#contextMenu a {
color: #000;
text-decoration: none;
display: block;
line-height: 22px;
height: 22px;
padding: 1px 10px;
}

#contextMenu li {
list-style: none;
padding: 1px;
margin: 0px;
}

#contextMenu li.hover a {
background-color: #A7C4FA;
}

#contextMenu li.separator {
border-top: solid 1px #ccc;
}