@CHARSET "UTF-8";

html{
	height: 100%;
	overflow: hidden;
	overflow-x: hidden;
}

body{
	height: 100%;
}

#main{
	width: 100%;
	height: 100%;
	position: absolute;
}

section{
	height: 100%;
	position: absolute;
	width: 100%;
}

.content{
	margin-top: 90px;
}

.msb-avatar-container{
	width: 40px;
	height: 40px;
}

#small-menu-container{
	max-height: 100%;
	overflow: auto;
}

.msb-avatar{
	width: 100%;
}

#map-canvas{
	min-height: 500px;
	border:5px solid #ffffff;
	border-radius: 5px;
	border-collapse: collapse;
	margin-right: 10px;
}

#left-bar{
	min-height: 500px;
	width: 100%;
	border:5px solid #ffffff;
	border-radius: 5px;
	border-collapse: collapse;
	float: left;
}

#searchBox{
	margin-top: 60px;
}

.menu{
	
}

.menu img{
	width: 160px;
}

.menu-img-container{
	width: 160px;
	height: 160px;
}

.menu-img{
	width: 100%;
}

#contextMenu {
position: absolute;
min-width: 100px;
z-index: 1000;
background: #fff;
border-top: solid 1px #CCC;
border-left: solid 1px #CCC;
border-bottom: solid 1px #676767;
border-right: solid 1px #676767;
padding: 0px;
margin: 0px;
display:none;
}

#contextMenu a {
color: #000;
text-decoration: none;
display: block;
line-height: 22px;
height: 22px;
padding: 1px 10px;
}

#contextMenu li {
list-style: none;
padding: 1px;
margin: 0px;
}

#contextMenu li.hover a {
background-color: #A7C4FA;
}

#contextMenu li.separator {
border-top: solid 1px #ccc;
}