<!DOCTYPE HTML>
<html ng-app="lunch">
	<head>
	<title>{% block title %}Lunch{% endblock %}</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" href="/static/css/lunch.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" charset="utf-8">
	{% block style%}
	{% endblock %}
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/components.js"></script>
	{% block script %}
	{% endblock %}
	<script type="text/javascript">
		window.initialize =  function() {
	  	}
		window.lunchAlert = function(message){
			$('#alert-message').html(message);
			$('.alert').show();
		}
		window.closeTip = function(){
			$('.alert').hide();
		}
	</script>
	</head>
	<body onload="initialize()">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Lunch</a>
					<form class="navbar-search pull-left">
					  <input type="text" class="search-query" placeholder="Search">
					  <button type="submit" class="btn">搜索</button>
					</form>
					<ul id="nav-right" class="nav pull-right">
						{% if user %}
							<li><a href="#userview">{{user.username}}</a></li>
							<li><a onclick="logout()">登出</a></li>
						{% else %}
							<li><a data-toggle="modal" data-target="#login">登录</a></li>
							<li><a data-toggle="modal" data-target="#signup">注册</a></li>
						{% endif %}
						<li><a href="#first" onclick="lunchAlert('asdf')">首页</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="subnav subnav-fixed">
			<div class="alert fade in container" style="display: none;">
           		<a class="close" onclick="closeTip()">×</a>
            	<strong id="alert-message"></strong>
			</div>
		</div>
		{% include 'modal.html' %}
		<div id="content">
			{% block content %}this is the defualt content{% endblock %}
			<footer class="footer">
				{% block footer %}
					author:wicki
				{% endblock %}
			</footer>
		</div>
	</body>
</html>
