<!DOCTYPE HTML>
<html ng-app="lunch">
	<head>
	<title>{% block title %}Lunch{% endblock %}</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/static/css/lunch.css" type="text/css" charset="utf-8">
	{% block style%}
	{% endblock %}
	<script type="text/javascript" src="/static/js/components.js"></script>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="/static/js/jquery.form.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/lunch.js"></script>
	{% block script %}
	{% endblock %}
	<script type="text/javascript">
		window.initialize =  function() {
	  	}
		window.lunchAlert = function(message,callback){
			$('#alert-message').html(message);
			if(callback){
				$('#alert-message').find('a').bind('click',callback);
			}
			$('.alert').slideDown(200);
			setTimeout(function(){$('.alert').slideUp(200);},2500);
		}
		window.closeTip = function(){
			$('.alert').hide();
		}
		function playSound(){
			var sound=$('#new-order-sound');
			$('#new-order-sound').get(0).play();
		}
	</script>
	</head>
	<body onload="initialize()">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Lunch</a>
					<form class="navbar-search pull-left">
					  <input type="text" class="search-query" placeholder="Search">
					  <button type="submit" class="btn">搜索</button>
					</form>
					<ul class="nav pull-right">
						<li><a id="nav-shopping-cart-btn" onclick="toggleShoppingCart()"><i class="icon-shopping-cart icon-white" style="margin-right: 5px"></i>购物车(<span class="order-num">0</span>)</a></li>
						<li><a onclick="playSound()"  rel="tooltip" data-original-title="首页">首页</a></li>
					</ul>
					<ul id="nav-right" class="nav pull-right">
						{% if user %}
							<li><a onclick='changePage(4)'>{{user.username}}</a></li>
							<li><a onclick="logout()">登出</a></li>
						{% else %}
							<li><a data-toggle="modal" data-target="#login">登录</a></li>
							<li><a data-toggle="modal" data-target="#signup">注册</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="subnav subnav-fixed">
			<div class="alert fade in container" style="display: none;">
           		<a class="close" onclick="closeTip()">×</a>
            	<strong id="alert-message"></strong>
			</div>
		</div>
		{% include 'modal.html' %}
		<div id="content">
			{% block content %}this is the defualt content{% endblock %}
			<footer class="footer">
				{% block footer %}
					author:wicki
				{% endblock %}
			</footer>
		</div>
		<div id="site-nav-container" class="nav-collapse" style="">
			<a href="#" id="bottom-nav-overview" class="bottom-nav-a" onclick="changePage(1);" rel="tooltip" data-original-title="首页"></a>
			<a id="bottom-nav-restview" class="bottom-nav-a" onclick="changePage(2);" rel="tooltip" data-original-title="店铺"></a>
			<a id="bottom-nav-orderview" class="bottom-nav-a" onclick="changePage(3);" rel="tooltip" data-original-title="订单"></a>
			{% if user %}
				<a id="bottom-nav-user"  class="bottom-nav-a" onclick="changePage(4);" rel="tooltip" data-original-title="管理"></a>
			{% else %}
				<a id="bottom-nav-user"  class="bottom-nav-a" onclick="changePage(4);" rel="tooltip" data-original-title="管理"></a>
			{% endif %}
		  </div>
		<button class="change-page-btn" id="left-btn" onclick="changePage(window.page-1)"><</button>
		<button class="change-page-btn" id="right-btn" onclick="changePage(window.page+1)">></button>
		<audio id="new-order-sound" src="/static/sound/neworder.mp3"></audio>
	</body>
</html>
