{% extends 'base.html' %}
{% block style %}
	<link rel="stylesheet" href="/static/css/user.css" type="text/css" charset="utf-8">
{% endblock %}
{% block script %}
	<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}
{% block content %}
<div class="content" id="setup-content">
	<div class="shadow-rounded" id="setup-sidebar">
		<div id="avatar-div">
			<table>
				<tr><td rowspan="4"><img src="{{user.avatarurl}}"></img></td><td>{{user.username}}</td></tr>
			</table>
		</div>
		<ul id="navigation">
			<li id="profile-li">个人资料</li>
			<li id="acc-security-li">安全设置</li>
		</ul>
	</div>
	<div class="shadow-rounded" id="setup-detail-div">
		<div id="profile-detail-div">
			<div class="form-title">个人资料</div>
			<form action="/user/edit" method="post">
				<table>
					<tr>
						<td>姓名:</td><td colspan="2"><input class="user-setup-input" type="text" name="name" value="{{user.name}}" /></td>
					</tr>
					<tr>
						<td>性别:</td><td colspan="2"><select name="gender"><option value="-1" {% if user.gender==-1 %}selected="selected"{%endif%}>男</option><option value="1" {% if user.gender==1 %} selected="selected" {%endif%}>女</option><option value="0" {% if user.gender==0 %} selected="selected" {%endif%}>未知</option></select></td>
					</tr>
					<tr>
						<td>个性签名:</td><td colspan="2"><input class="user-setup-input" type="text" name="mark" value="{{user.mark}}" /></td>
					</tr>
					<tr>
						<td>手机号:</td><td colspan="2"><input class="user-setup-input" type="text" name="mobile" value="{{user.mobile}}" /></td>
					</tr>
					<tr>
						<td>座机号:</td><td colspan="2"><input class="user-setup-input" type="text" name="telephone" value="{{user.telephone}}" /></td>
					</tr>
					<tr>
						<td>地址1:</td><td colspan="2"><input class="user-setup-input" type="text" name="adress1" value="{{user.adress1}}" /></td>
					</tr>
					<tr>
						<td>地址2:</td><td colspan="2"><input class="user-setup-input" type="text" name="adress2" value="{{user.adress2}}" /></td>
					</tr>
					<tr><td colspan="3" align="right"><button type="submit" onclick="check()">完成</button></td></tr>
				</table>
			</form>
		</div>
		<div id="acc-security-div">
			<div class="form-title">安全设置</div>
			<form id="security-set-form" action="/user/security" method="post">
				<table>
					<tr>
						<td>原密码:</td><td><input class="user-setup-input" type="password" name="oldpwd" required/></td>
					</tr>
					<tr>
						<td>新密码:</td><td><input class="user-setup-input" type="password" value="" name="newpwd" id="newpwd" pattern="^[a-zA-Z0-9][a-zA-Z0-9\_]{4,29}" required/></td>
					</tr>
					<tr>
						<td>确认新密码:</td><td><input class="user-setup-input" type="password" value="" name="newpwd-repeat" id="newpwd-repeat" required/></td>
					</tr>
					<tr><td colspan="2" align="right"><button type="submit" onclick="onSecuritySubmit()">确认修改</button></td></tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
