{% extends 'base.html' %}
{% block script %}
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<script type="text/javascript" src="static/js/map.js"></script>
<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/js/jquery.form.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/lunch.js"></script>
<script type="text/javascript">
      GEOCHAT_VARS = {
        'user_email': '{{ email }}',
        'user_nickname': '{{ nickname }}',
        'default_location': '{{ location }}',
        'initial_latitude': '{{ location[0] }}',
        'initial_longitude': '{{ location[1] }}',
        'update_interval': 5000,
        'error_interval': 300000
      };
      GEOCHAT_IMAGES = {
        'marker': '/static/images/marker.png',
        'marker-restuarant': '/static/images/marker-lime.png'
      };
</script>
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/static/css/index.css" type="text/css" charset="utf-8">
{% endblock %}
{% block content %}
	<div id="main">
		<section id="overview" style="left:0;background-color: #f00;">
			{% include 'overview.html' %}
		</section>
		<section id="restview" style="left:100%;background-color: #ff0;">
			{% include 'restuarant.html' %}
		</section>
		<section id="menuview" style="left:200%;background-color: #0ff;">
			<div>third div</div>
		</section>
		<section id="orderview" style="left:300%;background-color: #f0f;">
			<div>forth div</div>
		</section>
		<section id="userview" style="left:400%;background-color: #fff;">
			{% include 'setting.html' %}
		</section>
	</div>
	<div id="shoppingCart-container" class="container">
		<table style="height:190px;width:100%;">
			<strong>已选美味</strong>
			<tbody>
				<tr>
					<td width="4%" style="background-color: whiteSmoke" align="center">&lt</td>
					<td><div id="shoppingCart"></div></td>
					<td width="4%" style="background-color: whiteSmoke" align="center">&gt</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container" style="text-align: center;">
			  <div class="nav-collapse" style="font-size: 12pt">
			  	<br></br>
				---⊙---<a href="#overview" class="bottom-nav-a">首页</a>---⊙---
				<a href="#restview" class="bottom-nav-a">餐厅</a>---⊙---
				<a href="#menuview" class="bottom-nav-a">菜单</a>---⊙---
				<a href="#orderview" class="bottom-nav-a">订单</a>---⊙---
				{% if user %}
					<a id="bottom-nav-user" href="#userview" class="bottom-nav-a">{{ user.username }}</a>
				{% else %}
					<a id="bottom-nav-user" href="#userview" class="bottom-nav-a">游客</a>
				{% endif %}
				---⊙---
				<br></br>
			  </div>
			</div>
		  </div>
	</div>
	<script type="text/javascript" src="static/js/index.js"></script>
{% endblock %}
