{% extends 'base.html' %}
{% block script %}
<script type="text/javascript">
      GEOCHAT_VARS = {
        'user_email': '{{ email }}',
        'user_nickname': '{{ nickname }}',
        'default_location': '{{ location }}',
        'initial_latitude': '{{ location[0] }}',
        'initial_longitude': '{{ location[1] }}',
        'update_interval': 5000,
        'error_interval': 300000
      };
      GEOCHAT_IMAGES = {
        'marker': '/static/images/marker.png',
        'marker-restuarant': '/static/images/marker-lime.png'
      };
      CURRENT_REST_ID = null;
      {% if current_rest_id %}
      	CURRENT_REST_ID = {{current_rest_id}}
      {% endif %}
</script>
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="/static/css/index.css" type="text/css" charset="utf-8">
{% endblock %}
{% block content %}
	<div id="main">
		<section id="overview" style="left:0;">
			{% include 'overview.html' %}
		</section>
		<section id="restview" style="left:100%;">
			{% include 'restuarant.html' %}
		</section>
		<section id="orderview" style="left:200%;">
			{% include 'order.html' %}
		</section>
		<section id="userview" style="left:300%;">
			{% include 'setting.html' %}
		</section>
	</div>
	<div id="shoppingCart-container" class="container radius-border">
		<div id="shoppingCart-head">购物车(<span class="order-num">0</span>)<a class='icon-remove icon-white' style="float: right;margin: 10px;" onclick="hideShoppingCart();"></a></div>
		<div id="shoppingCart-container-empty-tip">您还没有点选任何食物哦</div>
		<ul class="nav nav-tabs nav-stacked">
	  	</ul>
	  	<a id="shopping-cart-settle" class="btn btn-success" onclick="changePage(3);"><i class="icon-shopping-cart icon-white"></i>结算</a>
	</div>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container" style="text-align: center;">
				this is footer
			</div>
		  </div>
	</div>
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
