<div class="modal fade" id="login">
<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Log In</h3>
</div>
 <div class="modal-body">
	<form class="form" id="login-form" action="/signin" method="post">
    	<fieldset id="inputs">
	        <input name="username" type="text" placeholder="Username" required><span id="login-message"></span><br/>
	        <input name="password" type="password" placeholder="Password" required>
	        <input type="submit" class="btn" value="登录" onclick="login()">
	        <a href="/forgetpwd" target="_blank">忘记密码?</a>
	    </fieldset>
	</form>
  </div>
</div>

<div class="modal fade" id="signup">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
	<form class="form" id="signup-form" action="/signup" method="post" method="post" onclick="signup()">
	<fieldset id="inputs">
		<table>
			<tr><td>用戶名:</td><td><input id="username" type="text" name="username"  placeholder="Username" value="{{ username }}" pattern="^[a-zA-Z0-9][a-zA-Z0-9\_]{4,15}" maxLength="16" required/></td><td id="usernameErrorMessage" class="tip"></td></tr>
			<tr><td>密码:</td><td><input id="password" type="password" name="password" placeholder="Password" pattern="^[a-zA-Z0-9][a-zA-Z0-9\_]{4,29}" maxLength="30" required/></td><td id="passwordErrorMessage" class="tip"></td></tr>
			<tr><td>密码确认:</td><td><input id="repassword" type="password" name="repassword" customError="valid" placeholder="Password" required/></td></tr>
			<tr><td>邮箱:</td><td><input type="email" name="email"  placeholder="Email" value="{{ email }}" required/></td><td id="emailErrorMessage" class="tip"></td></tr>
		</table>
	</fieldset>
	<fieldset id="actions">
		<input type="submit" class="btn" id="submit" value="注册" onclick="check()">
		</fieldset>
	</form>
  </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>新开店铺</h3>
  </div>
  <div class="modal-body">
	<form id="new_restuarant_form" action="/restuarant/new" method="post">
		<fieldset>
			<table>
				<tr><td>店名:</td><td><input type="text" name="rest_name" required></td></tr>
				<tr><td>地址:</td><td><input type="text" id="new-rest-form-adress" name="adress" required></td></tr>
			</table>
			<input type="hidden" name="lat" id="lat"></input>
			<input type="hidden" name="lng" id="lng"></input>
			<input type="submit" class="btn btn-primary" value="确认" onclick="new_restuarant()"></input>
		</fieldset>
	</form>
  </div>
</div>
<div class="modal fade" id="cancelOrderModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>取消订单</h3>
  </div>
  <div class="modal-body">
	<p>取消理由:</p>
	<textarea id='roder-cancel-form-reason' style='width:100%' cols='4'></textarea>
	<input id="order-cancel-form-btn" type="submit" class="btn btn-primary" value="确认" onclick="cancelOrder();"></input>
  </div>
</div>
<div class="modal fade" id="commentOrderModal" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>店铺评论</h3>
  </div>
  <div class="modal-body">
  	<form id="order-comment-form" method="POST" action="/api/order/comment">
		<p>说点什么吧</p>
		<textarea id='roder-comment-content' name="content" style='width:100%' cols='4'></textarea>
		送给掌柜的几分感谢:<input type="number" min="1" max="10" step="1" name="thanks" id="order-comment-thanks" value="10" required></input><br/>
		<input type="hidden" name="orderid" value="" id="order-commment-orderid">
		<a id="order-comment-btn" type="submit" class="btn btn-primary" onclick="onOrderComment()"><i class="icon-comment icon-white"></i>评论</a>
	</form>
  </div>
</div>
<div class="modal fade" id="select-thumbnail-modal">
  <div class="modal-header" style="border-bottom: 0">
    <a class="close" data-dismiss="modal">×</a>
    <h3>选择图片</h3>
    <ul class="nav nav-tabs">
	    <li class="active"><a href="#thumb-lib" data-toggle="tab">从图库选择</a></li>
	    <li><a href="#thumb-upload" data-toggle="tab">上传图片</a></li>
	    <li><a href="#thumb-internet" data-toggle="tab">网上图片</a></li>
	  </ul>
  </div>
  <div class="modal-body scrollable" style="margin-top: -25px">
  	<div class="tabbable">
	  <div class="tab-content">
	    <div class="tab-pane active" id="thumb-lib">
	      <ul class="thumbnails">
		  </ul>
	    </div>
	    <div class="tab-pane" id="thumb-upload">
	    <form id="setting-menu-img-form" enctype="multipart/form-data" method="post" action="/api/menu/thumbnail">
	      	<div class='thumbnail span2'><img id="setting-menu-img-modal" src="http://placehold.it/160x160"></div>
			<input type="file" name="imgfile" onchange="onMenuImgChoose()" id="setting-menu-img-file-modal"><br/>
		</form>
	    </div>
	    <div class="tab-pane" id="thumb-internet">
	      	<div class='thumbnail span2'><img id="setting-menu-img-modal-internet" class="menu-img" src="http://placehold.it/160x160"></div>
			图片地址:<input type="text" id="setting-menu-img-modal-input-internet" onchange="menu_img_change();">
	    </div>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
    <a href="#" id="select-thumbnail-btn" class="btn btn-primary">确定</a>
  </div>
</div>