<div class="container content">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active"><a href="#order-container" data-toggle="tab" id="orderview-left-ensure-order">确认订单</a></li>
				<li><a href="#view-order-container" data-toggle="tab" id="orderview-left-buyer">买家订单</a></li>
			</ul>
		</div>
		<div class="span9 scrollable">
			<div class="tab-content">
				<div class="tab-pane fade active in" id="order-container">
				</div>
				<div class="tab-pane fade" id="view-order-container">
					<h4>订单列表</h4>
					<div id='view-order-item-container' class="scrollable"></div>
				</div>
			</div>
		</div>
	</div>
</div>