<div class="content container">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span9">
	      <div id="map-canvas" class="radius-border"></div>
	    </div>
	    <div class="span3">
	      <div id="left-bar" class="radius-border">
	      	{% include 'overview-side-info.html' %}
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div id="main-info-container" class="radius-border">赞助点把</div>
	  </div>
	</div>
</div>