<div class="content container">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span9">
	      <!--Body content-->
	      <div id="map-canvas"></div>
	    </div>
	    <div class="span3">
	      <!--Sidebar content-->
	      <div id="left-bar">
	      	{% include 'overview-side-info.html' %}
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="myModal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>新开店铺</h3>
	  </div>
	  <div class="modal-body">
		<form id="new_restuarant_form" action="/restuarant/new" method="post">
			<fieldset>
				<table>
					<tr><td>店名:</td><td><input type="text" name="rest_name" required></td></tr>
				</table>
				<input type="hidden" name="lat" id="lat"></input>
				<input type="hidden" name="lng" id="lng"></input>
				<input type="submit" class="btn btn-primary" value="确认" onclick="new_restuarant()"></input>
			</fieldset>
		</form>
	  </div>
	</div>
</div>