<link rel="stylesheet" href="/static/css/restuarant.css" type="text/css" charset="utf-8">
<div class="content container" id="restview">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3" id="rsb">
	    </div>
	    <div class="span9" id="rsm">
	    	<div class="setting-container active" id="menus-wrapper"></div>
	    	<div class="setting-container" id="rest-wrapper">
	    		<div class="row">
		    		<div class="span3">
						<div class="thumbnail-container">
							<img class="item_thumbnail" src="http://www.dennisandmcgregor.co.uk/product_images/78-1-l.png"></img>
						</div>
					</div>
					<div class="span5" style="min-height: 265px;">
						<table id="item-detail" cellpadding="1">
							<tr valign="bottom"><td><span class="icon-home"></span></td><td class="item-detail-td"><strong>item.title</strong></td></tr>
							<tr valign="bottom"><td><span class="icon-user"></span></td><td class="item-detail-td">item.author</td></tr>
							<tr valign="bottom"><td><span class="icon-tag"></span></td><td class="item-detail-td">item.price</td></tr>
							<tr valign="bottom"><td><span class="icon-search"></span></td><td class="item-detail-td">描述:</td></tr>
							<tr><td></td><td class="item-detail-td"><p>item.description</p></td></tr>
						</table>
					</div>
				</div>
				
				<div class="row">
					<div class="span9">
						<hr></hr>
						<h1>comments are here</h1>
							<div id="comments_container">
							</div>
						<hr/>
						<form class="user" action="/comment" method="post">
							<fieldset>
								<textarea name="content" rows="7" cols="" placeholder="comment here" required autofocus style="width:99%"></textarea>
								<input name="item_id" type="hidden" value="item.id">
								<input class="btn" type="submit" value="提交" style="float:right;margin-right: 0px" onclick="commentsubmit();">
							</fieldset>
						</form>
						<form id="loginform" style="display: none;" action="/signin" method="post">
							<h1>Log In</h1>
							<fieldset>
								<input id="login-username" name="username" type="text" placeholder="Username" autofocus required>
								<input id="login-password" name="password" type="password" placeholder="Password" required>
								<input type="hidden" name="url" value=""></input>
								<input class="btn" type="submit" value="登录" style="float:right;">
							</fieldset>
			    			<div class="alert alert-error" style="display: none"><span class="icon-warning-sign"></span>用戶名或密码错误</div>
						</form>
					</div>
				</div>
			</div>
	    </div>
	  </div>
	</div>
</div>