{% extends 'base.html' %}
{% block style %}
	<link rel="stylesheet" href="/static/css/user.css" type="text/css" charset="utf-8">
{% endblock %}
{% block content %}
<div class="content" id="user-content">
	<div class="shadow-rounded" id="baseinfo">
		<table width="100%">
			<tr>
				<td rowspan="3" width="72px"><img width="72px" height="72px" alt="" src="{{vuser.avatarurl}}"/></td>
				<td class="baseinfo-td">{{vuser.username}}</td>
			</tr>
			<tr><td class="baseinfo-td">{{vuser.mark}}</td></tr>
			<tr><td><div align="right"><button>添加好友</button></div></td></tr>
		</table>
	</div>
	<div class="shadow-rounded" id="detailinfo">
		<table>
			<tr>
				<tr><td>姓名:</td><td>{{vuser.name}}</td></tr>
				<tr><td>性别:</td><td>{{vuser.gender|genderfiler}}</td></tr>
				<tr><td>手机号:</td><td>{{vuser.mobile}}</td></tr>
				<tr><td>座机号:</td><td>{{vuser.telephone}}</td></tr>
				<tr><td>地址1:</td><td>{{vuser.adress1}}</td></tr>
				<tr><td>地址2:</td><td>{{vuser.adress2}}</td></tr>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
